<!DOCTYPE html>
<!-- Webpage HTML document for Lab 2.
  Author: EECS 1012 instructors (modified by Poneet Rahul as requested in Lab 02 instructions)
  For: EECS 1012, York University, Lassonde School of Engineering -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Common Space Tracking System</title>
  <link rel="stylesheet" type="text/css" href="diary_ex4.css" title="style" />
</head>

<body>
<div class="content">
<header>
<h1 align = "center"> Common Space Tracking System</h1>
</header>
<!-- __________________________________________________ -->



<div class="diaryEntry">
<h2>Scott Library</h2>
	<p>
		
	</p>
	
	
</div>



<!-- __________________________________________________ -->


    
<div class="diaryEntry">
<h2>Tait Mackenzie 
</div>



<!-- __________________________________________________ -->



<div class="diaryEntry">
<h2>Lassonde</h2>

</div>



<!-- __________________________________________________ -->



<footer>
</footer>



</div>
</body>
</html>