
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
		<link rel="stylesheet"  href="css/index.css">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body style="background-color: #DDDDDD;">
<div>
 <h1  align = "center" style="margin:10px" >  <strong> Common Space Tracking System </strong> </h1>
  <h1  align = "center" >  <strong> Scott Library </strong> </h1>
 
 <tr>
 <div align = "center" >    
      <button style="background-color: #505050; margin: 5px		; border: none; border-radius: 5px;  /* Dark grey */ padding: 5px 5px"><h3> <a  th:href="@{'/new'}">Add Student</a></h3> </button>
      
          
     </div>
 
 </tr>
 <tr>
 <div align = "center">
 <div class="col-sm-5" align = "center">
   <div class="panel-body" align = "center" >
   <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Surname</th>
            <th>Student Number</th>
            <th>Edit</th>
            <th>Delete</th>
   </tr>
  </thead>
  <tbody>
      <tr  th:each="student : ${liststudent }">
 <td th:text="${student.id}">Student ID</td>
 <td th:text="${student.studentname}">StudentName</td>
 <td th:text="${student.course}">Course</td>
 <td th:text="${student.fee}">Fee</td> 
 <td>
 <a th:href="@{'/edit/' + ${student.id}}">Edit</a>
 </td>     
 <td>
 <a th:href="@{'/delete/' + ${student.id}}">Delete</a>
 </td>     
 </tr> 
   
  </tbody>
</table>
                    
                 </div>
 </div>
            </div> 
 
 </tr>
 
 </tbody>
 </table>
 <div>
</body>
</html>