


<!DOCTYPE html>
<html>
	<head>	
		<title>  Login System</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet"  href="css/main.css">
	</head>
	<div class="login">
<h1>Login</h1>
    <form>
    <input id="username" type="text" name="u" placeholder="Username" required="required" />
        <input id="password" type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" onclick="getInfo()">Let me in.</button>
    </form>
</div>

		<script src="javascript/main.js"></script>
	</body>
</html>



